<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civic-Watch</title>
    <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body class="bg-verde-claro font-display text-bege">

  <main class="flex justify-center">

    <div class="w-[25%] h-[100vh] fixed left-0 border-r-[.1px] border-marrom">

        <div class="pt-[1rem] pl-[5rem]">

        <img src="/images/logo.svg" alt="Logo do Civic Watch" class="size-40">

        </div>

        <li class="list-none flex flex-col mt-[5rem] bg-verde-escuro border-t-[.1px] border-marrom">

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="pagina-inicial">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house text-bege"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>

          <p>Página Inicial</p>

        </button>

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="favoritos">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-bege"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
          <p>Favoritos</p>

        </button>

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="perfil">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user text-bege"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>

          <p>Perfil</p>

        </button>

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="pesquisar">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search text-bege"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>

          <p>Pesquisar</p>

        </button>

        </li>

    </div>

    <div class="bg-verde-escuro grow max-w-[50%] w-[50%] h-[100vh] text-center">

      <div class="bg-verde-escuro border-b-[.1px] fixed w-[50%] top-0 left-[25%] pt-[4rem] pb-[1rem] border-marrom">

        <h1 class="font-bold text-5xl">Pesquisar</h1>

      </div>

      <div class="pt-[8rem] flex w-full">

        <input type="text" placeholder="Search"   class="pl-10 py-2 border-b-[0.1px] outline-0 border-marrom rounded-md w-full
          bg-[url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22%23DCD7C9%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Ccircle%20cx=%2211%22%20cy=%2211%22%20r=%228%22/%3E%3Cline%20x1=%2221%22%20y1=%2221%22%20x2=%2216.65%22%20y2=%2216.65%22/%3E%3C/svg%3E')]
          bg-no-repeat bg-[position:8px_center] bg-verde-claro">

        <select class="border-b-[0.1px] border-l-[0.1px] rounded-md border-marrom">

          <option disabled selected>Cargo</option>

          <option>Deputado</option>

          <option>Senador</option>

        </select>

        <select class="border-b-[0.1px] border-l-[0.1px] rounded-md border-marrom ">

          <option disabled selected>Partido</option>

          <option>Partido A</option>

          <option>Partido B</option>

        </select>

      </div>

      <div class="bg-verde-escuro flex items-center justify-between px-[3rem] py-[2rem] border-b-[.1px] border-marrom">

        <svg xmlns="http://www.w3.org/2000/svg" width="8rem" height="8rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>

        <div class="flex flex-col w-[70%] items-start gap-[.5rem]">

          <p class="mb-[1rem] text-2xl"><b>Nome:</b> Político</p>
          <p><b>Cargo:</b> Prefeito</p>
          <p><b>Partido:</b> ABC</p>

        </div>
        
        <button class="hover:cursor-pointer">

          <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-bege"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>

        </button>

      </div>

      <div class="bg-verde-escuro flex items-center justify-between px-[3rem] py-[2rem] border-b-[.1px] border-marrom">

        <svg xmlns="http://www.w3.org/2000/svg" width="8rem" height="8rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>

        <div class="flex flex-col w-[70%] items-start gap-[.5rem]">

          <p class="mb-[1rem] text-2xl"><b>Nome:</b> Político</p>
          <p><b>Cargo:</b> Prefeito</p>
          <p><b>Partido:</b> ABC</p>

        </div>
        
        <button class="hover:cursor-pointer">

          <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-red-700 fill-red-700"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>

        </button>

      </div>

    </div>

    <div class="w-[25%] h-[100vh] fixed right-0 border-l-[.1px] border-marrom">

      <div class="py-[4rem] flex justify-center font-bold text-3xl">

        <p>O que está acontecendo</p>

      </div>

      <li class="list-none flex flex-col bg-verde-escuro border-t-[.1px] border-marrom font-semibold">

        <a href="#" class="px-[2rem] py-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer">#LoreIpsum</a>

        <a href="#" class="px-[2rem] py-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer">#LoreIpsum</a>

        <a href="#" class="px-[2rem] py-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer">#LoreIpsum</a>

        <a href="#" class="px-[2rem] py-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer">#LoreIpsum</a>

      </li>

    </div>

  </main>

  <script src="/javascripts/secao_lateral.js"></script>

</body>
</html>